{
-webkit-tap-highlight-color
:
 
rgba
(0
,
0,0,0);
	/* make transparent link selection, adjust last value opacity 0 to 1.0 */
-webkit-tap-highlight-color
:
 
transparent
;


}
html {
	height: 100%;
}

body {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	/* make transparent link selection */
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	/* prevent callout to copy image, etc when tap to hold */
	-webkit-text-size-adjust: none;
	/* prevent webkit from resizing text to fit */
	-webkit-user-select: none;
	/* prevent copy paste, to allow, change 'none' to 'text' */
	height: 100%;
	margin: 0px;
	padding: 0px;
	width: 100%;
	color: #FFFFFF;
	font-family: sans-serif !important;
}

body#bgcolor {
	background-color: #F6F6F6;
}

h1, h2 {
	margin: 0;
}

input {
	outline: none !important;
}

#login, #music, #options, #terms, #faq, #downloadSettings, #clearAppData {
	height: 100%;
	display: none;
}

.push-content-above-player {
	display: none;
	height: 76px;
}

.footer {
	position: absolute;
	bottom: 0;
}

.content-outer {
	display: table;
	position: absolute;
	height: 100%;
	width: 100%;
}

.content-middle {
	display: table-cell;
	vertical-align: middle;
}

.header, .footer, .push-content-above-player {
	width: 100%;
}

#login {
	
}

#login .main .logo {
	background: url("../img/360px/logo_welcome@1x.png") no-repeat center center;
	background-size: 273px 165px;
	width: 100%;
	height: 165px;
}

#login .header {
	background: none;
}

#music {
	
}

#music #containers, #music #albums, #music #album, #options .main, #terms .main, #faq .main, #downloadSettings .main, #clearAppData .main
{
	overflow: auto;
}

#terms .main, #faq .main
{
    -webkit-overflow-scrolling: touch;
}

.header {
	position: absolute;
	top: 0px;
	color: #FFFFFF;
	height: 70px;
	background: #000000;
}

#options .header {
	background: #FFFFFF;
}

#music .footer {
	display: none;
}

.header h1 {
	font-weight: normal;
	line-height: 70px;
	font-size: 30px;
	text-align: center;
}

.header .back {
	position: absolute;
	top: 0;
	left: 0;
	height: 70px;
	width: 41px;
	line-height: 70px;
	font-size: 17px;
	display: none;
}

#music .header {
	z-index: 2000;
}

#music .header h1 {
	margin-left: 41px;
	margin-right: 41px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

#music .header .options {
	position: absolute;
	top: 0;
	right: 0;
	height: 70px;
}

#music .header #refreshAlbums, #login .header .back
{
	display: block;
}

#music #containers, #music #albums, #music #album, #options .main, #terms .main, #faq .main, #downloadSettings .main, #clearAppData .main
{
	position: absolute;
	top: 70px;
	bottom: 0px;
	background-color: #FFFFFF;
}

#music #containers, #music #albums, #music #album, #options .main, #faq .main {
	width: 100%;
}

#music #containers ul, #music #albums ul, #music #album ul {
	padding: 0;
	margin: 0;
	background-color: #FFFFFF;
}

#music #containers ul li, #music #albums ul li, #music #album ul li {
	clear: both;
	color: #000000;
	background-color: #FFFFFF;
	list-style-type: none;
	border-top: 1px solid #C0C0C0;
	padding: 10px;
	height: 75px;
}

#music #containers ul li:first-child, #music #albums ul li:first-child {
	border-top: 0 none;
}

#music #containers ul li .container-name, #music #albums ul li .album-name, #music #albums ul li .album-artist {
	padding-left: 10px;
	padding-right: 10px;
	font-size: 20px;
	padding-top: 5px;
}

#music #containers ul li .container-name, #music #albums ul li .album-name {
	font-weight: bold;
	padding-top: 15px;
}

#music #album.noparent ul.tracks li div.track-title div span {
	font-weight: bold;
}
#music #album ul.tracks li div.track-title div.artist-name span {
	font-weight: normal;
}

#music #containers ul li span, #music #albums ul li span {
	white-space: nowrap;
	text-overflow: ellipsis;
	display: block;
	overflow: hidden;
}

#music #containers ul li {
	border: none;
	overflow: hidden;
	height: 95px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

#music #containers ul li div.bg {
	position: relative;
	height: 95px;
	background-color:rgba(0,0,0,0.6);
}

#music #containers ul li div.name {
	position: relative;
	top: -95px;
	padding-right: 34px; /* arrow width plus 10px either side*/
	background: url("../img/360px/arrow_media@1x.png") no-repeat right 10px center;
}

#music #containers ul li {
	padding: 0px;
	margin: 0px;
	height: 95px;
}

#music #containers ul li .container-name {
	padding-top: 0px;
	line-height: 95px;
	color: #FFFFFF;
	/*text-shadow: 2px 2px #000000;*/
}

#music #albums ul li {
	border-top: 0 none;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 10px;
	padding-right: 34px; /* arrow width plus 10px either side*/
	background: url("../img/360px/arrow_album@1x.png") no-repeat right 10px center, linear-gradient(#F3F3F3, #FFFFFF);
}

#music #albums ul li .album-artwork {
	float: left;
}

#music #albums ul li .album-artwork img {
	width: 75px;
	height: 75px;
}

#music .footer ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: table;
	width: 100%;
}

#music .footer li {
	display: table-cell;
	vertical-align: middle;
}

#music .footer .back li {
	text-align: center;
}

#music .footer li.artwork {
	width: 50px;
	min-width: 50px;
	height: 50px;
	padding: 10px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 34px 7px;
	background-image: url("../img/360px/more.rest@1x.png");
}

#music .footer .front.bg {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

#music .footer .front.overlay {
	background-color: rgba(0,0,0,0.6);
}

#music .footer .front li.player-controls {
	width: 60px;
	min-width: 60px;
	text-align: center;
}

#music .footer li.player-controls button {
	width: 40px;
	height: 40px;
}

#music .footer ul>li>div {
	display: table;
	border-spacing: 0px 0px;
	table-layout: fixed;
	width: 100%;
	text-align: center;
}

#music .footer ul>li>div>span {
	display: block;
	white-space: nowrap;
	overflow-x: hidden;
	text-overflow: ellipsis;
	font-size: 15px;
	color: #FFFFFF;
	text-shadow: none;
}

#music .footer ul>li>div>span:first-child {
	font-weight: bold;
	margin-bottom: 5px;
}

#music .footer .back li.airplay {
	width: 32px;
	min-width: 32px;
	padding: 10px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 16px 14px;
	background-image: url("../img/360px/airplay@1x.png");
}

#music .footer .back li.airplay.off{
	background: none;
}

#music .download-in-progress {
	opacity: 0.5;
}

#music .album-artwork.download-in-progress {
	padding-right: 10px;
}

#music #album .album-info {
	padding: 10px;
	color: #000000;
	background-color: #FFFFFF;
	font-size: 20px;
	text-align: center;
}

#music #album .album-info .album-title, #music #album .album-info .album-artist
	{
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding-bottom: 10px;
}

#music #album .album-info .album-title {
	font-weight: bold;
}

#music #album .album-info .album-artwork {
	display: block;
	width: 100%;
	height: 300px;
	margin-bottom: 20px;
	background-size: 300px 300px;
	background-repeat: no-repeat;
	background-position: center center;
}

#music #album .album-info .album-artwork .album-play{
	background: url("../img/360px/album_play_large@1x.png") no-repeat center center;
	background-size: 77px 78px;
	width: 77px;
	height: 78px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: 111px; /* (.album-artwork height - this.height) / 2 */
}

#music #album ul.tracks li {
	display: table;
	height: 30px;
}

#music #album ul.tracks li div.play-status {
	display: table-cell;
	width: 40px;
	min-width: 40px;
	height: 19px;
	background-image:
		url("../img/360px/cloud@1x.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 20px 19px;
}

#music #album ul.tracks li.downloading div.play-status {
	background-image:
		url("../img/360px/downloading@1x.gif");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 20px 19px;
}

#music #album ul.tracks li.downloaded div.play-status {
	background-image:
		url("../img/360px/synced@1x.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 21px 15px;
}

#music #album ul.tracks li.playing {
	background-color: #EBEBEB;
}

#music #album ul.tracks li.playing div.play-status {
	background-image:
		url("../img/360px/now_playing@1x.gif");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 18px 15px;
}

#music #album ul.tracks li.paused div.play-status {
	background-image:
		url("../img/360px/now_playing@1x.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 18px 15px;
}

#music #album ul.tracks li div.album-artwork {
	display: table-cell;
	width: 75px;
	min-width: 75px;
	height: 75px;
	padding-right: 10px;
	background-size:75px 75px;
	background-repeat:	no-repeat;
}

#music #album ul.tracks li div.track-title {
	display: table-cell;
	font-size: 17px;
	line-height: 30px;
	width: 100%;
	vertical-align: middle;
}

#music #album ul.tracks li div.track-title div {
	display: table;
	table-layout: fixed;
	width: 100%;
}

#music #album ul.tracks li div.track-title div span {
	display: block;
	white-space: nowrap;
	overflow-x: hidden;
	text-overflow: ellipsis;
}

#music #album ul.tracks li div.track-duration {
	display: table-cell;
	width: 50px;
	min-width: 50px;
	text-align: right;
	vertical-align: middle;
	font-size: 17px;
	line-height: 30px;
	padding-left: 10px;
	padding-right: 10px;
}

#options {
	position:absolute;
	top:0;
	right:0;
	width:100%;	
}

#options .main {
	z-index:2000;
	border-left: 1px solid #EEEEEE;
}

#options .header .back, #terms .back, #faq .back, #downloadSettings .back, #clearAppData .back {
	display: block;
}

#music .header #gotoAlbums,
#terms .header .back,
#downloadSettings .header .back,
#clearAppData .header .back,
#faq .header .back {
	background: url("../img/360px/back_arrow@1x.png") no-repeat center center;
	background-size: 14px 25px;
}

#options .header .back {
	background: url("../img/360px/menu_rest@1x.png") no-repeat left center;
	background-size: 21px 14px;
	width: 21px;
}

#options .main, #music #albums, #music #containers, #music #album, #faq .main
{
	background-color: #F6F6F6;
}

#options .main ul,
#faq .main ul {
	background-color: #FFFFFF;
	color: #000000;
	padding: 0;
}

#options .main ul {
	margin-top: 0px;
	margin-bottom: 0px;
}

#options .main ul li:first-child,
#faq .main ul li:first-child {
	border-top: 1px solid #EEEEEE;
}

#options .main ul li,
#faq .main ul li {
	border-bottom: 1px solid #EEEEEE;
	font-size: 20px;
	line-height: 75px;
	list-style-type: none;
	padding-left: 10px;
	padding-right: 10px;
}

#options .main ul li div {
	display: inline-block;
	float: right;
	background: url("../img/360px/item_arrow@1x.png") no-repeat center right;
	width: 9px;
	background-size: 9px 15px;
}

#downloadSettings .main,
#clearAppData .main,
#login .main {
	padding: 20px;
	text-align: center;
	width: 100%;
	box-sizing: border-box;
}

#downloadSettings .main .copy,
#clearAppData .main .copy {
	font-size: 20px;
	text-align: center;
	color: #000000;
	padding-top: 20px;
	padding-bottom: 40px;
}

#login .main .copy
{
	font-size: 20px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 40px;
	max-width: 280px;
	margin: 0 auto;
	color: #FFFFFF;
}

#login .main input[type=text], #login .main input[type=email], #login .main input[type=password],
	#login .main .login-button,
	#login .main .logo,
	#clearAppData .main input[type=button]	{
	width: 100%;
	box-sizing: border-box;
	max-width: 280px;
	margin: 0 auto;
}

#login .main input[type=text], #login .main input[type=email], #login .main input[type=password] {
	font-size: 18px;
	border: 0px solid #000000;
	height: 50px;
	background-color: #000000;
	color: #FFFFFF;
	border-radius: 25px;
	padding-left: 25px;
	padding-right: 25px;
	text-align: center;
	margin-bottom: 20px;
}

#clearAppData .main input[type=button] {
	border: 0px solid #ed1f24;
}

#clearAppData .main input[type=button],
#login .main .login-button {
	color: #FFFFFF;
	border-radius: 25px;
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	width: 100%;
	height: 50px;
	background: #ed1f24 -webkit-linear-gradient(left, #f04044 , #ed1f24); /* For Safari 5.1 to 6.0 */
	background: #ed1f24 -o-linear-gradient(right, #f04044, #ed1f24); /* For Opera 11.1 to 12.0 */
	background: #ed1f24 -moz-linear-gradient(right, #f04044, #ed1f24); /* For Firefox 3.6 to 15 */
	background: #ed1f24 linear-gradient(to right, #f04044 , #ed1f24); /* Standard syntax */
}

.ui-progressbar {
	position: relative;
	display: table-cell;
	width: 100%;
	height: 28px; /* height 75px less border width (1px * z) */
}

.ui-progressbar .ui-progressbar-value {
	margin: 0px;
	border: 0px;
}

.progress-label {
	line-height: 28px;
	position: absolute;
	width: 100%;
	text-align: center;
	font-weight: bold;
	text-shadow: 1px 1px 0 #fff;
	font-size: 15px;
}

.noparent .ui-progressbar {
	height: 73px;
}
.noparent .progress-label {
	line-height: 73px;
}

.transparent-status-bar .header {
	height: 70px;
	line-height: 70px;
}

.transparent-status-bar .header {
	padding-top: 20px;
}

.transparent-status-bar .header .back,
.transparent-status-bar .header .options,
.transparent-status-bar .header .refresh {
    margin-top: 20px;
}

.transparent-status-bar #options .main {
	top: 90px;
}

#music.transparent-status-bar #containers, #music.transparent-status-bar #albums, #music.transparent-status-bar #album,
	#options.transparent-status-bar .main, #terms.transparent-status-bar .main, #downloadSettings.transparent-status-bar .main,
	#faq.transparent-status-bar .main, #clearAppData.transparent-status-bar .main {
	top: 90px
}

#music .footer.flip-container {
	-webkit-perspective: 1000;
	-moz-perspective: 1000;
	-o-perspective: 1000;
	-ms-perspective: 1000;
	perspective: 1000;
	-ms-transform: perspective(1000px);
	-moz-transform: perspective(1000px);
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
}

#music .footer.flip-container .flipper.flipped .back {
	-webkit-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
	-o-transform: rotateX(0deg);
	-ms-transform: rotateX(0deg);
	transform: rotateX(0deg);
}

#music .footer.flip-container .flipper.flipped .front {
	-webkit-transform: rotateX(180deg);
	-moz-transform: rotateX(180deg);
	-o-transform: rotateX(180deg);
	transform: rotateX(180deg);
}

#music .footer.flip-container .flipper {
	-webkit-transition: 0.6s;
	-webkit-transform-style: preserve-3d;
	-ms-transition: 0.6s;
	-moz-transition: 0.6s;
	-moz-transform: perspective(1000px);
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 70px;
	max-height: 70px;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
}

#music .footer.flip-container .front, #music .footer.flip-container .back
	{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: 0.6s;
	-webkit-transform-style: preserve-3d;
	-moz-transition: 0.6s;
	-moz-transform-style: preserve-3d;
	-o-transition: 0.6s;
	-o-transform-style: preserve-3d;
	-ms-transition: 0.6s;
	-ms-transform-style: preserve-3d;
	transition: 0.6s;
	transform-style: preserve-3d;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 70px;
}

#music .footer.flip-container .front {
	-webkit-transform: rotateX(0deg);
	-ms-transform: rotateX(0deg);
	background-position: center center;
	/*z-index: 2;*/
}

#music .footer.flip-container .back {
	background-color: rgba(0, 0, 0, 0.85);
	-webkit-transform: rotateX(-180deg);
	-moz-transform: rotateX(-180deg);
	-o-transform: rotateX(-180deg);
	-ms-transform: rotateX(180deg);
	transform: rotateX(-180deg);
}

#music .footer.flip-container #playPause,
#music .footer.flip-container #prev,
#music .footer.flip-container #next{
    width: 70px;
    height: 60px;
	max-height: 60px;
	border: none;
	display: inline-block;
}

#music .footer.flip-container .play {
	background: url("../img/360px/play_track@1x.png") no-repeat center center;
	background-size: 20px 24px;
}

#music .footer.flip-container #prev {
	background: url("../img/360px/prev_track@1x.png") no-repeat center center;
	background-size: 17px 16px;
}

#music .footer.flip-container #next {
	background: url("../img/360px/next_track@1x.png") no-repeat center center;
	background-size: 17px 16px;
}

#music .footer.flip-container .pause {
	background: url("../img/360px/pause_track@1x.png") no-repeat center center;
	background-size: 20px 24px;
}

#music .footer.flip-container .flipper .now-playing.front .track-title,
#music .footer.flip-container .flipper .now-playing.front .track-artist {
	text-shadow: 0px 1px 0 #000000;
}

#music .header .options {
	background: url("../img/360px/menu_pressed@1x.png") no-repeat center center;
	background-size: 21px 14px;
	width: 41px;
}

#music .header .options.open {
	background-image: url("../img/360px/menu_rest@1x.png");
}

#music .header .refresh {
	position: absolute;
	top: 0;
	left: 0;
	background: url("../img/360px/refresh@1x.png") no-repeat center center;
	background-size: 21px 20px;
	width: 41px;
	height: 70px;
}

#terms {
	color: #000000;
}

#terms .main {
	padding: 10px 20px 30px 10px;
}

#terms .main ol {
	padding-left: 40px;
}

#terms .main ol li {
	font-weight: bold;
    font-size: 17px;
}

#terms .main ol li span {
	font-weight: normal;
}

#downloadSettings, #clearAppData {
	color: #000000;
}

#downloadSettings .main, #clearAppData .main {
	width: 100%;
}

#faq {
	color: #000000;
}

#faq h2 {
	font-size: 20px;
	padding: 20px 10px;
	font-weight: normal;
}

#faq .main ul {
	margin: 0px;
}

#faq .main ul li {
	font-size: 17px;
	font-weight: bold;
	line-height: normal;
}

#faq .main ul li .question-row {
	display: table;
	width: 100%;
}

#faq .main ul li div.question {
	display: table-cell;
	padding: 20px 10px 20px 0px;
}

#faq .main ul li div.arrow {
	display: table-cell;
	background: url("../img/360px/item_arrow_down@1x.png") no-repeat center right;
	width: 15px;
	background-size: 15px 9px;
}

#faq .main ul li div.arrow.open {
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

#faq .main ul li div.answer {
	line-height: normal;
	font-weight: normal;
	margin-bottom: 30px;
	display: none;
}

#music #albums ul li .album-name, 
#music #albums ul li .album-artist
{
	padding-top: 0px;
	padding-bottom: 0px;
	line-height: 37px;
}

#music .footer .trackbar-overlay {
	height: 15px;
	width:100%;
	position: absolute;
	z-index: 1000;
}

#music .footer .trackbar {
	width:100%;
	height:5px;
	background-color: rgba(0, 0, 0, 0.85);
	border-top:1px solid gray;
}

#music .footer .trackbar .played {
	height:5px;
	background-color: #ed1f24;
	width:0%;
}

.custom-size-flipswitch.ui-flipswitch {
	width: 160px;
	height: 30px;
	background-color: #01AEF0;
    border-color: #01AEF0;
	color: #FFFFFF;
	text-shadow: 0px 1px 0 #000000;
}

.custom-size-flipswitch.ui-flipswitch .ui-btn.ui-flipswitch-on {
    text-indent: -110px;
	width: 28px;
	height: 28px;
	text-shadow: 0px 1px 0 #000000;
}
.custom-size-flipswitch.ui-flipswitch .ui-flipswitch-off {
    text-indent: 10px;
}

.custom-size-flipswitch.ui-flipswitch.ui-flipswitch-active {
    padding-left: 130px;
    width: 30px;
	background-color: #00CC33;
    border-color: #00CC33;
    color: #fff;
}

.custom-size-flipswitch.ui-flipswitch.ui-corner-all {
   border-radius: 16px !important;
}

.custom-size-flipswitch.ui-flipswitch .ui-flipswitch-off,
.custom-size-flipswitch.ui-flipswitch .ui-btn {
	font-size: 16px;
}

@media all and (min-width: 360px) {
	#login .main input[type=text], #login .main input[type=email], #login .main input[type=password],
	#login .main .login-button,
	#login .main .logo,
	#clearAppData .main input[type=button]	 {
		max-width: 320px;
	}
}

@media all and (min-width: 720px) {
	/* tablet portrait (768px), and annonying HTC which reports physical pixels instead of logical (ie reports 720 when it should report 360 with a device pixel ratio of 2)*/
	
	.push-content-above-player {
		height: 152px;
	}

	#login .main .logo {
		background: url("../img/720px/logo_welcome.png") no-repeat center center;
		background-size: 545px 329px;
		width: 100%;
		height: 329px;
	}
	
	.header {
		height: 140px;
	}

	.header h1 {
		line-height: 140px;
		font-size: 60px;
	}

	.header .back {
		height: 140px;
		margin-left: 20px;
		line-height: 140px;
		font-size: 34px;
	}
	
	#music #containers, #music #albums, #music #album, #options .main, #terms .main, #faq .main, #downloadSettings .main, #clearAppData .main
	{
		top: 140px;
	}

	#music #containers ul li, #music #albums ul li, #music #album ul li {
		border-top: 2px solid #C0C0C0;
		padding: 20px;
		height: 150px;
	}
		
	#music #containers ul li {
		height: 150px;
		padding: 0px;
		margin: 0px;
		border: none;
	}

	#music #containers ul li div.bg {
		height: 150px;
	}

	#music #containers ul li div.name {
		top: -150px;
		padding-right: 66px;
		background: url("../img/720px/arrow_media.png") no-repeat right 20px center;
	}

	#music #containers ul li {
		height: 150px;
	}
	
	#music #containers ul li .container-name, #music #albums ul li .album-name, #music #albums ul li .album-artist {
		padding-left: 20px;
		padding-right: 20px;
		font-size: 40px;
		padding-top: 10px;
	}
	
	#music #albums ul li {
		border-top: 0 none;
		margin-left: 0px;
		margin-right: 0px;
		padding-left: 20px;
		padding-right: 66px;
		background: url("../img/720px/arrow_album.png") no-repeat right 20px center, linear-gradient(#F3F3F3, #FFFFFF);
	}

	#music #albums ul li .album-name {
		padding-top: 30px;
	}
	
	#music #containers ul li .container-name {
		padding-top: 0px;
		line-height: 150px;
	}

	#music #albums ul li .album-artwork img {
		width: 150px;
		height: 150px;
	}

	#music .footer li.artwork {
		width: 100px;
		min-width: 100px;
		height: 100px;
		padding: 20px;
		background-size: 67px 14px;
		background-image: url("../img/720px/more.rest.png");
	}

	#music .footer .front li.player-controls {
		width: 120px;
		min-width: 120px;
	}

	#music .footer li.player-controls button {
		width: 80px;
		height: 80px;
	}

	#music .footer ul>li>div>span {
		font-size: 30px;
	}

	#music .footer ul>li>div>span:first-child {
		margin-bottom: 10px;
	}
	
	#music .footer .back li.airplay {
		width: 64px;
		min-width: 64px;
		padding: 20px;
		background-size: 32px 27px;
		background-image: url("../img/720px/airplay.png");
	}

	#music .album-artwork.download-in-progress {
		padding-right: 20px;
	}

	#music #album .album-info {
		padding: 20px;
		font-size: 40px;
	}

	#music #album .album-info .album-title, #music #album .album-info .album-artist
	{
		padding-bottom: 20px;
	}

	#music #album ul.tracks li div.album-artwork {
		display: table-cell;
		width: 150px;
		min-width: 150px;
		height: 150px;
		padding-right: 20px;
		background-size:150px 150px;
	}

	#music #album .album-info .album-artwork {
		height: 520px;
		margin-bottom: 40px;
		background-size: 520px 520px;
	}

	#music #album .album-info .album-artwork .album-play{
		background: url("../img/720px/album_play_large@2x.png") no-repeat center center;
		background-size: 152px 153px;
		width: 152px;
		height: 153px;
		top: 183px; /* (.album-artwork height - this.height) / 2 */
	}

	#music #album ul.tracks li {
		height: 60px;
	}

	#music #album ul.tracks li div.play-status {
		width: 100px;
		min-width: 100px;
		height: 40px;
		background-image:
			url("../img/720px/cloud.png");
		background-size: 40px 37px;
	}

	#music #album ul.tracks li.downloading div.play-status {
		background-image:
		url("../img/720px/downloading.gif");
		background-size: 40px 37px;
	}

	#music #album ul.tracks li.downloaded div.play-status {
		background-image:
			url("../img/720px/synced.png");
		background-size: 41px 27px;
	}
	
	#music #album ul.tracks li.playing div.play-status {
		background-image:
			url("../img/720px/now_playing.gif");
		background-size: 35px 29px;
	}
	
	#music #album ul.tracks li.paused div.play-status {
		background-image:
			url("../img/720px/now_playing.png");
		background-size: 35px 29px;
	}
	
	#music #album ul.tracks li div.track-title {
		font-size: 34px;
		line-height: 60px;
	}

	#music #album ul.tracks li div.track-duration {
		width: 100px;
		min-width: 100px;
		font-size: 34px;
		line-height: 60px;
		padding-left: 20px;
		padding-right: 20px;
	}

	#music .header #gotoAlbums,
    #terms .header .back,
    #downloadSettings .header .back,
    #clearAppData .header .back,
    #faq .header .back {
		margin-left: 0px;
		background: url("../img/720px/back_arrow.png") no-repeat left 20px center;
		background-size: 26px 47px;
		width: 66px;
	}
		
	#options .header .back {
		background: url("../img/720px/menu_rest.png") no-repeat left center;
		background-size: 41px 28px;
		width: 41px;
	}

	#options .main ul li:first-child,
	#faq .main ul li:first-child {
		border-top: 2px solid #EEEEEE;
	}

	#options .main ul li,
	#faq .main ul li {
		border-bottom: 2px solid #EEEEEE;
		font-size: 40px;
		line-height: 150px;
		padding-left: 20px;
		padding-right: 20px;
	}

	#options .main ul li div {
		background: url("../img/720px/item_arrow.png") no-repeat center right;
		width: 17px;
		background-size: 17px 30px;
	}
		
	#login .main {
		padding: 40px;
	}
		
	#login .main .copy
	{
		font-size: 40px;
		padding-top: 40px;
		padding-bottom: 80px;
		max-width: 640px;
	}
	
	#downloadSettings .main .copy,
	#clearAppData .main .copy {
		font-size: 40px;
		padding-top: 40px;
		padding-bottom: 80px;
	}

	#login .main input[type=text], #login .main input[type=email], #login .main input[type=password],
		#login .main .login-button,
		#login .main .logo,
		#clearAppData .main input[type=button]	{
		max-width: 640px;
	}

	#login .main input[type=text], #login .main input[type=email], #login .main input[type=password] {
		font-size: 36px;
		height: 100px;
		border-radius: 50px;
		padding-left: 50px;
		padding-right: 50px;
		margin-bottom: 40px;
	}

	#clearAppData .main input[type=button] {
		border: 0px solid #ed1f24;
	}

	#clearAppData .main input[type=button],
	#login .main .login-button {
		border-radius: 50px;
		height: 100px;
		line-height: 100px;
		font-size: 40px;
		height: 100px;
	}
	
	.ui-progressbar {
		height: 58px;
	}

	.progress-label {
		line-height: 58px;
		text-shadow: 2px 2px 0 #fff;
		font-size: 34px;
	}
	
	.noparent .ui-progressbar {
		height: 148px;
	}
	.noparent .progress-label {
		line-height: 146px;
	}

	.transparent-status-bar .header {
		height: 140px;
		line-height: 140px;
	}
	
	.transparent-status-bar #options .main {
		top: 160px;
	}
	
	#music.transparent-status-bar #containers,
	#music.transparent-status-bar #albums, #music.transparent-status-bar #album,
		#options.transparent-status-bar .main, #terms.transparent-status-bar .main, #downloadSettings.transparent-status-bar .main,
		#faq.transparent-status-bar .main, #clearAppData.transparent-status-bar .main {
		top: 160px
	}
	
	#music .footer.flip-container .flipper {
		height: 140px;
		max-height: 140px;
	}

	#music .footer.flip-container .front, #music .footer.flip-container .back
	{
		height: 140px;
	}

	#music .footer.flip-container #playPause,
	#music .footer.flip-container #prev,
	#music .footer.flip-container #next{
		width: 140px;
		height: 120px;
		max-height: 120px;
	}

	#music .footer.flip-container .play {
		background: url("../img/720px/play_track.png") no-repeat center center;
		background-size: 39px 48px;
	}

	#music .footer.flip-container #prev {
		background: url("../img/720px/prev_track.png") no-repeat center center;
		background-size: 32px 31px;
	}

	#music .footer.flip-container #next {
		background: url("../img/720px/next_track.png") no-repeat center center;
		background-size: 32px 30px;
	}

	#music .footer.flip-container .pause {
		background: url("../img/720px/pause_track.png") no-repeat center center;
		background-size: 40px 47px;
	}
	
	#music .footer.flip-container .flipper .now-playing.front .track-title,
	#music .footer.flip-container .flipper .now-playing.front .track-artist {
		text-shadow: 0px 2px 0 #000000;
	}

	#music .header .options {
		background: url("../img/720px/menu_pressed.png") no-repeat right 20px center;
		background-size: 41px 28px;
		width: 81px;
		height: 140px;
	}

	#music .header .options.open {
		background-image: url("../img/720px/menu_rest.png");
	}

	#music .header .refresh {
		background: url("../img/720px/refresh.png") no-repeat left 20px center;
		background-size: 41px 39px;
		width: 81px;
		height: 140px;
	}
	
	#music .header h1 {
		margin-left: 81px;
		margin-right: 81px;
	}
	
	#terms .main {
		padding: 20px 40px 60px 20px;
	}
	
	#terms .main ol {
		padding-left: 80px;
	}
    
    #terms .main ol li {
        font-size: 34px;
    }
	
	#faq h2 {
		font-size: 40px;
		padding: 40px 20px;
	}

	#faq .main ul li {
		font-size: 34px;
		line-height: normal;
	}

	#faq .main ul li div.question {
		padding: 40px 20px 40px 0px;
	}

	#faq .main ul li div.arrow {
		background-image: url("../img/720px/item_arrow_down.png");
		width: 30px;
		background-size: 30px 17px;
	}

	#faq .main ul li div.answer {
		margin-bottom: 60px;
	}
	
	#music #albums ul li .album-name, 
	#music #albums ul li .album-artist
	{
		padding-top: 0px;
		padding-bottom: 0px;
		line-height: 75px;
	}
	
	#music .footer .trackbar {
		height:10px;
		border-top:2px solid gray;
	}

	#music .footer .trackbar .played {
		height:10px;
	}
	
	#music .footer .trackbar-overlay {
		height: 30px;
	}
	
	.custom-size-flipswitch.ui-flipswitch {
		width: 320px;
		height: 60px;
		text-shadow: 0px 2px 0 #000000;
	}

	.custom-size-flipswitch.ui-flipswitch .ui-btn.ui-flipswitch-on {
		text-indent: -220px;
		width: 56px;
		height: 56px;
		text-shadow: 0px 2px 0 #000000;
	}
	.custom-size-flipswitch.ui-flipswitch .ui-flipswitch-off {
		text-indent: 20px;
	}

	.custom-size-flipswitch.ui-flipswitch.ui-flipswitch-active {
		padding-left: 260px;
		width: 60px;
	}

	.custom-size-flipswitch.ui-flipswitch.ui-corner-all {
	   border-radius: 32px !important;
	}
	
	.custom-size-flipswitch.ui-flipswitch .ui-flipswitch-off,
	.custom-size-flipswitch.ui-flipswitch .ui-btn {
		font-size: 32px;
	}
}

@media all and (min-width: 1080px) {
	.push-content-above-player {
		height: 228px;
	}

	#login .main {
		padding: 60px;
	}

	#downloadSettings .main .copy,
	#clearAppData .main .copy {
		font-size: 60px;
		padding-top: 60px;
		padding-bottom: 120px;
	}
	
	#login .main .copy
	{
		font-size: 60px;
		padding-top: 60px;
		padding-bottom: 120px;
		max-width: 960px;
	}
	
	#login .main .logo {
		background: url("../img/1080px/logo_welcome@3x.png") no-repeat center center;
		background-size: 818px 494px;
		width: 100%;
		height: 494px;
	}

	#login .main input[type=text], #login .main input[type=email], #login .main input[type=password],
		#login .main .login-button,
		#login .main .logo,
		#clearAppData .main input[type=button]	{
		max-width: 960px;
	}

	#login .main input[type=text], #login .main input[type=email], #login .main input[type=password] {
		font-size: 54px;
		height: 150px;
		border-radius: 75px;
		padding-left: 75px;
		padding-right: 75px;
		margin-bottom: 60px;
	}

	#clearAppData .main input[type=button] {
		border: 0px solid #ed1f24;
	}

	#clearAppData .main input[type=button],
	#login .main .login-button {
		border-radius: 75px;
		height: 150px;
		line-height: 150px;
		font-size: 60px;
		height: 150px;
	}

	.header {
		height: 210px;
	}

	.header h1 {
		line-height: 210px;
		font-size: 90px;
	}

	.header .back {
		height: 210px;
		margin-left: 30px;
		line-height: 210px;
		font-size: 51px;
	}

	#music #containers, #music #albums, #music #album, #options .main, #terms .main, #faq .main, #downloadSettings .main, #clearAppData .main
	{
		top: 210px;
	}

	#music #containers ul li, #music #albums ul li, #music #album ul li {
		border-top: 3px solid #C0C0C0;
		padding: 40px;
		height: 225px;
	}
	
	#music #containers ul li {
		margin: 0px;
		padding: 0px;
		border: none;
	}

	#music #containers ul li .container-name, #music #albums ul li .album-name, #music #albums ul li .album-artist {
		padding-left: 30px;
		padding-right: 30px;
		font-size: 60px;
		padding-top: 15px;
	}

	#music #albums ul li .album-name {
		padding-top: 45px;
	}
	
	#music #containers ul li {
		height: 225px;
	}

	#music #containers ul li div.bg {
		height: 225px;
	}

	#music #containers ul li div.name {
		top: -225px;
		padding-right: 120px;
		background: url("../img/1080px/arrow_media@3x.png") no-repeat right 40px center;
	}

	#music #containers ul li {
		height: 225px;
	}
	
	#music #containers ul li .container-name {
		padding-top: 0px;
		line-height: 225px;
	}

	#music #albums ul li {
		border-top: 0 none;
		margin-left: 0px;
		margin-right: 0px;
		padding-left: 40px;
		padding-right: 40px;
		padding-right: 120px;
		background: url("../img/1080px/arrow_album@3x.png") no-repeat right 40px center, linear-gradient(#F3F3F3, #FFFFFF);
	}
	
	#music #albums ul li .album-artwork img {
		width: 225px;
		height: 225px;
	}

	#music .footer li.artwork {
		width: 150px;
		min-width: 150px;
		height: 150px;
		padding: 30px;
		background-size: 101px 21px;
		background-image: url("../img/1080px/more.rest@3x.png");
	}

	#music .footer .front li.player-controls {
		width: 180px;
		min-width: 180px;
	}

	#music .footer li.player-controls button {
		width: 120px;
		height: 120px;
	}

	#music .footer ul>li>div>span {
		font-size: 45px;
	}

	#music .footer ul>li>div>span:first-child {
		margin-bottom: 15px;
	}
	
	#music .footer .back li.airplay {
		width: 96px;
		min-width: 96px;
		padding: 30px;
		background-size: 48px 41px;
		background-image: url("../img/1080px/airplay@3x.png");
	}

	#music .album-artwork.download-in-progress {
		padding-right: 30px;
	}

	#music #album .album-info {
		padding: 30px;
		font-size: 60px;
	}

	#music #album .album-info .album-title, #music #album .album-info .album-artist
	{
		padding-bottom: 30px;
	}

	#music #album .album-info .album-artwork {
		height: 520px;
		margin-bottom: 60px;
		background-size: 520px 520px;
	}

	#music #album .album-info .album-artwork .album-play{
		background: url("../img/1080px/album_play_large@3x.png") no-repeat center center;
		background-size: 230px 231px;
		width: 230px;
		height: 231px;
		top: 144px; /* (.album-artwork height - this.height) / 2 */
	}

	#music #album ul.tracks li {
		height: 90px;
	}
	
	#music #album ul.tracks li div.album-artwork {
		display: table-cell;
		width: 225px;
		min-width: 225px;
		height: 225px;
		padding-right: 30px;
		background-size:225px 225px;
	}

	#music #album ul.tracks li div.play-status {
		width: 150px;
		min-width: 150px;
		background-image:
			url("../img/1080px/cloud@3x.png");
		background-size: 60px 56px;
	}
	
	#music #album ul.tracks li.downloading div.play-status {
		background-image:
			url("../img/1080px/downloading@3x.gif");
		background-size: 60px 56px;
	}
	
	#music #album ul.tracks li.downloaded div.play-status{
		background-image:
			url("../img/1080px/synced@3x.png");
		background-size: 61px 40px;
	}

	#music #album ul.tracks li.playing div.play-status {
		background-image:
			url("../img/1080px/now_playing@3x.gif");
		background-size: 53px 44px;
	}
		
	#music #album ul.tracks li.paused div.play-status {
		background-image:
			url("../img/1080px/now_playing@3x.png");
		background-size: 53px 44px;
	}

	#music #album ul.tracks li div.track-title {
		font-size: 51px;
		line-height: 90px;
	}

	#music #album ul.tracks li div.track-duration {
		width: 150px;
		min-width: 150px;
		font-size: 51px;
		line-height: 90px;
		padding-left: 30px;
		padding-right: 30px;
	}

	#music .header #gotoAlbums,
    #terms .header .back,
    #downloadSettings .header .back,
    #clearAppData .header .back,
    #faq .header .back {
		background: url("../img/1080px/back_arrow@3x.png") no-repeat left 30px center;
		background-size: 40px 72px;
		width: 100px;
	}
	
	#options .header .back {
		background: url("../img/1080px/menu_rest@3x.png") no-repeat left center;
		background-size: 62px 42px;
		width: 62px;
	}

	#options .main ul li:first-child,
	#faq .main ul li:first-child {
		border-top: 3px solid #EEEEEE;
	}

	#options .main ul li,
	#faq .main ul li {
		border-bottom: 3px solid #EEEEEE;
		font-size: 60px;
		line-height: 225px;
		padding-left: 30px;
		padding-right: 30px;
	}

	#options .main ul li div {
		background: url("../img/1080px/item_arrow@3x.png") no-repeat center right;
		width: 26px;
		background-size: 26px 45px;
	}

	.ui-progressbar {
		height: 88px;
	}

	.progress-label {
		line-height: 88px;
		text-shadow: 3px 3px 0 #fff;
		font-size: 51px;
	}
	
	.noparent .ui-progressbar { 
		height: 222px;
	}
	.noparent .progress-label {
		line-height: 219px;
	}

	.transparent-status-bar .header {
		height: 210px;
		line-height: 210px;
	}
	
	.transparent-status-bar #options .main {
		top: 230px;
	}
	
	#music.transparent-status-bar #containers, #music.transparent-status-bar #albums, #music.transparent-status-bar #album,
		#options.transparent-status-bar .main, #terms.transparent-status-bar .main, #downloadSettings.transparent-status-bar .main,
		#faq.transparent-status-bar .main, #clearAppData.transparent-status-bar .main {
		top: 230px
	}
	
	#music .footer.flip-container .flipper {
		height: 210px;
		max-height: 210px;
	}

	#music .footer.flip-container .front, #music .footer.flip-container .back
	{
		height: 210px;
	}

	#music .footer.flip-container #playPause,
	#music .footer.flip-container #prev,
	#music .footer.flip-container #next{
		width: 210px;
		height: 180px;
		max-height: 180px;
	}

	#music .footer.flip-container .play {
		background: url("../img/1080px/play_track@3x.png") no-repeat center center;
		background-size: 59px 72px;
	}

	#music .footer.flip-container #prev {
		background: url("../img/1080px/prev_track@3x.png") no-repeat center center;
		background-size: 50px 48px;
	}

	#music .footer.flip-container #next {
		background: url("../img/1080px/next_track@3x.png") no-repeat center center;
		background-size: 50px 47px;
	}

	#music .footer.flip-container .pause {
		background: url("../img/1080px/pause_track@3x.png") no-repeat center center;
		background-size: 60px 71px;
	}
	
	#music .footer.flip-container .flipper .now-playing.front .track-title,
	#music .footer.flip-container .flipper .now-playing.front .track-artist {
		text-shadow: 0px 3px 0 #000000;
	}

	#music .header .options {
		background: url("../img/1080px/menu_pressed@3x.png") no-repeat right 30px center;
		background-size: 62px 42px;
		width: 122px;
		height: 210px;
	}

	#music .header .options.open {
		background-image: url("../img/1080px/menu_rest@3x.png");
	}

	#music .header .refresh {
		background: url("../img/1080px/refresh@3x.png") no-repeat left 30px center;
		background-size: 62px 59px;
		width: 122px;
		height: 210px;
	}
	
	#music .header h1 {
		margin-left: 122px;
		margin-right: 122px;
	}
	
	#terms .main {
		padding: 30px 60px 90px 30px;
	}
    
    #terms .main ol {
		padding-left: 120px;
	}

    #terms .main ol li {
        font-size: 51px;
    }
	
	#faq h2 {
		font-size: 80px;
		padding: 80px 40px;
	}

	#faq .main ul li {
		font-size: 51px;
		line-height: normal;
	}

	#faq .main ul li div.question {
		padding: 60px 30px 60px 0px;
	}

	#faq .main ul li div.arrow {
		background-image: url("../img/1080px/item_arrow_down@3x.png");
		width: 45px;
		background-size: 45px 26px;
	}

	#faq .main ul li div.answer {
		margin-bottom: 90px;
	}
	
	#music #albums ul li .album-name, 
	#music #albums ul li .album-artist
	{
		padding-top: 0px;
		padding-bottom: 0px;
		line-height: 112px;
	}
	
	#music .footer .trackbar-overlay {
		height: 45px;
	}

	#music .footer .trackbar {
		height:15px;
		border-top:3px solid gray;
	}

	#music .footer .trackbar .played {
		height:15px;
	}
	
	.custom-size-flipswitch.ui-flipswitch {
		width: 480px;
		height: 90px;
		text-shadow: 0px 3px 0 #000000;
	}

	.custom-size-flipswitch.ui-flipswitch .ui-btn.ui-flipswitch-on {
		text-indent: -330px;
		width: 84px;
		height: 84px;
		text-shadow: 0px 3px 0 #000000;
	}
	.custom-size-flipswitch.ui-flipswitch .ui-flipswitch-off {
		text-indent: 30px;
	}

	.custom-size-flipswitch.ui-flipswitch.ui-flipswitch-active {
		padding-left: 390px;
		width: 90px;
	}

	.custom-size-flipswitch.ui-flipswitch.ui-corner-all {
	   border-radius: 48px !important;
	}
	
	.custom-size-flipswitch.ui-flipswitch .ui-flipswitch-off,
	.custom-size-flipswitch.ui-flipswitch .ui-btn {
		font-size: 48px;
	}
}

body#bgimg .content-outer {
	background: #000000 url("../img/bg/splash-port-mdpi.png") no-repeat center top scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#music #album ul.tracks li div.album-artwork,
#music #album ul.tracks li div.track-title div.artist-name
{
	display: none;
}

#music #album.noparent .album-info {
	display: none;
}

#music #album.noparent ul.tracks li:first-child {
	border-top: 0 none;
}

#music #album.noparent ul.tracks li div.album-artwork
{
	display: table-cell;
}

#music #album.noparent ul.tracks li div.track-title div.artist-name {
	display: table;
}

/*
	Swap in higher quality images for higher device pixel ratios
*/
@media 
	all and (max-width: 719px) and (-webkit-min-device-pixel-ratio: 2),
	all and (max-width: 719px) and (min--moz-device-pixel-ratio: 2),
	all and (max-width: 719px) and (min-device-pixel-ratio: 2) {
	
	#login .main .logo {
		background-image: url("../img/720px/logo_welcome.png");
	}
	
	#music #containers ul li div.name {
		background-image: url("../img/720px/arrow_media.png") no-repeat right 20px center;
	}

	#music #albums ul li {
		background-image: url("../img/720px/arrow_album.png") no-repeat right 20px center, linear-gradient(#F3F3F3, #FFFFFF);
	}

	#music .footer li.artwork {
		background-image: url("../img/720px/more.rest.png");
	}

	#music .footer .back li.airplay {
		background-image: url("../img/720px/airplay.png");
	}

	#music #album .album-info .album-artwork .album-play{
		background-image: url("../img/720px/album_play_large@2x.png");
	}

	#music #album ul.tracks li div.play-status {
		background-image: url("../img/720px/cloud.png");
	}

	#music #album ul.tracks li.downloading div.play-status {
		background-image: url("../img/720px/downloading.gif");
	}

	#music #album ul.tracks li.downloaded div.play-status {
		background-image: url("../img/720px/synced.png");
	}
	
	#music #album ul.tracks li.playing div.play-status {
		background-image: url("../img/720px/now_playing.gif");
	}
	
	#music #album ul.tracks li.paused div.play-status {
		background-image: url("../img/720px/now_playing.png");
	}

	#music .header #gotoAlbums,
    #terms .header .back,
    #downloadSettings .header .back,
    #clearAppData .header .back,
    #faq .header .back {
		background-image: url("../img/720px/back_arrow.png");
	}
		
	#options .header .back {
		background-image: url("../img/720px/menu_rest.png");
	}

	#options .main ul li div {
		background-image: url("../img/720px/item_arrow.png");
	}

	#music .footer.flip-container .play {
		background-image: url("../img/720px/play_track.png");
	}

	#music .footer.flip-container #prev {
		background-image: url("../img/720px/prev_track.png");
	}

	#music .footer.flip-container #next {
		background-image: url("../img/720px/next_track.png");
	}

	#music .footer.flip-container .pause {
		background-image: url("../img/720px/pause_track.png");
	}

	#music .header .options {
		background-image: url("../img/720px/menu_pressed.png");
	}

	#music .header .options.open {
		background-image: url("../img/720px/menu_rest.png");
	}

	#music .header .refresh {
		background-image: url("../img/720px/refresh.png");
	}
	
	#faq .main ul li div.arrow {
		background-image: url("../img/720px/item_arrow_down.png");
	}
	
}

@media 
	all and (max-width: 719px) and (-webkit-min-device-pixel-ratio: 3),
	all and (max-width: 719px) and (min--moz-device-pixel-ratio: 3),
	all and (max-width: 719px) and (min-device-pixel-ratio: 3) {
	
	#login .main .logo {
		background-image: url("../img/1080px/logo_welcome@3x.png");
	}

	#music #containers ul li div.name {
		background-image: url("../img/1080px/arrow_media@3x.png") no-repeat right 40px center;
	}

	#music #albums ul li {
		background-image: url("../img/1080px/arrow_album@3x.png") no-repeat right 40px center, linear-gradient(#F3F3F3, #FFFFFF);
	}
	
	#music .footer li.artwork {
		background-image: url("../img/1080px/more.rest@3x.png");
	}
	
	#music .footer .back li.airplay {
		background-image: url("../img/1080px/airplay@3x.png");
	}

	#music #album .album-info .album-artwork .album-play{
		background-image: url("../img/1080px/album_play_large@3x.png");
	}

	#music #album ul.tracks li div.play-status {
		background-image:
			url("../img/1080px/cloud@3x.png");
	}
	
	#music #album ul.tracks li.downloading div.play-status {
		background-image:
			url("../img/1080px/downloading@3x.gif");
	}
	
	#music #album ul.tracks li.downloaded div.play-status{
		background-image:
			url("../img/1080px/synced@3x.png");
	}

	#music #album ul.tracks li.playing div.play-status {
		background-image:
			url("../img/1080px/now_playing@3x.gif");
	}
		
	#music #album ul.tracks li.paused div.play-status {
		background-image:
			url("../img/1080px/now_playing@3x.png");
	}

	#music .header #gotoAlbums,
    #terms .header .back,
    #downloadSettings .header .back,
    #clearAppData .header .back,
    #faq .header .back {
		background-image: url("../img/1080px/back_arrow@3x.png");
	}
	
	#options .header .back {
		background-image: url("../img/1080px/menu_rest@3x.png");
	}

	#options .main ul li div {
		background-image: url("../img/1080px/item_arrow@3x.png");
	}

	#music .footer.flip-container .play {
		background-image: url("../img/1080px/play_track@3x.png");
	}

	#music .footer.flip-container #prev {
		background-image: url("../img/1080px/prev_track@3x.png");
	}

	#music .footer.flip-container #next {
		background-image: url("../img/1080px/next_track@3x.png");
	}

	#music .footer.flip-container .pause {
		background-image: url("../img/1080px/pause_track@3x.png");
	}

	#music .header .options {
		background-image: url("../img/1080px/menu_pressed@3x.png");
	}

	#music .header .options.open {
		background-image: url("../img/1080px/menu_rest@3x.png");
	}

	#music .header .refresh {
		background-image: url("../img/1080px/refresh@3x.png");
	}
	
	#faq .main ul li div.arrow {
		background-image: url("../img/1080px/item_arrow_down@3x.png");
	}
}

@media 
	all and (min-width: 720px) and (-webkit-min-device-pixel-ratio: 2),
	all and (min-width: 720px) and (min--moz-device-pixel-ratio: 2),
	all and (min-width: 720px) and (min-device-pixel-ratio: 2) {
	
	#login .main .logo {
		background-image: url("../img/1080px/logo_welcome@3x.png");
	}

	#music #containers ul li div.name {
		background-image: url("../img/1080px/arrow_media@3x.png") no-repeat right 40px center;
	}

	#music #albums ul li {
		background-image: url("../img/1080px/arrow_album@3x.png") no-repeat right 40px center, linear-gradient(#F3F3F3, #FFFFFF);
	}
	
	#music .footer li.artwork {
		background-image: url("../img/1080px/more.rest@3x.png");
	}
	
	#music .footer .back li.airplay {
		background-image: url("../img/1080px/airplay@3x.png");
	}

	#music #album .album-info .album-artwork .album-play{
		background-image: url("../img/1080px/album_play_large@3x.png");
	}

	#music #album ul.tracks li div.play-status {
		background-image:
			url("../img/1080px/cloud@3x.png");
	}
	
	#music #album ul.tracks li.downloading div.play-status {
		background-image:
			url("../img/1080px/downloading@3x.gif");
	}
	
	#music #album ul.tracks li.downloaded div.play-status{
		background-image:
			url("../img/1080px/synced@3x.png");
	}

	#music #album ul.tracks li.playing div.play-status {
		background-image:
			url("../img/1080px/now_playing@3x.gif");
	}
		
	#music #album ul.tracks li.paused div.play-status {
		background-image:
			url("../img/1080px/now_playing@3x.png");
	}

	#music .header #gotoAlbums,
    #terms .header .back,
    #downloadSettings .header .back,
    #clearAppData .header .back,
    #faq .header .back {
		background-image: url("../img/1080px/back_arrow@3x.png");
	}
	
	#options .header .back {
		background-image: url("../img/1080px/menu_rest@3x.png");
	}

	#options .main ul li div {
		background-image: url("../img/1080px/item_arrow@3x.png");
	}

	#music .footer.flip-container .play {
		background-image: url("../img/1080px/play_track@3x.png");
	}

	#music .footer.flip-container #prev {
		background-image: url("../img/1080px/prev_track@3x.png");
	}

	#music .footer.flip-container #next {
		background-image: url("../img/1080px/next_track@3x.png");
	}

	#music .footer.flip-container .pause {
		background-image: url("../img/1080px/pause_track@3x.png");
	}

	#music .header .options {
		background-image: url("../img/1080px/menu_pressed@3x.png");
	}

	#music .header .options.open {
		background-image: url("../img/1080px/menu_rest@3x.png");
	}

	#music .header .refresh {
		background-image: url("../img/1080px/refresh@3x.png");
	}
	
	#faq .main ul li div.arrow {
		background-image: url("../img/1080px/item_arrow_down@3x.png");
	}
}

/*
	Android screen sizes - heights reduced by 40px because status bar affects the reported height  
*/

@media all and (min-width: 320px) and (min-height: 440px) {
	body#bgimg .content-outer {
		background-image: url("../img/bg/splash-port-mdpi.png");
	}
}

@media 
	all and (min-width: 320px) and (min-height: 480px) and (-webkit-min-device-pixel-ratio: 2),
	all and (min-width: 320px) and (min-height: 480px) and (min--moz-device-pixel-ratio: 2),
	all and (min-width: 320px) and (min-height: 480px) and (min-device-pixel-ratio: 2) {
	body#bgimg .content-outer {
		background-image: url("../img/bg/Default@2x~iphone.png");
	}
}

@media 
	all and (min-width: 320px) and (min-height: 568px) and (-webkit-min-device-pixel-ratio: 2),
	all and (min-width: 320px) and (min-height: 568px) and (min--moz-device-pixel-ratio: 2),
	all and (min-width: 320px) and (min-height: 568px) and (min-device-pixel-ratio: 2) {
	body#bgimg .content-outer {
		background-image: url("../img/bg/Default-568h@2x~iphone.png");
	}
}

@media 
	all and (min-width: 360px) and (min-height: 600px) and (-webkit-min-device-pixel-ratio: 2),
	all and (min-width: 360px) and (min-height: 600px) and (min--moz-device-pixel-ratio: 2),
	all and (min-width: 360px) and (min-height: 600px) and (min-device-pixel-ratio: 2) {
	body#bgimg .content-outer {
		background-image: url("../img/bg/splash-port-xhdpi.png");
	}
}

@media 
	all and (min-width: 375px) and (min-height: 667px) and (-webkit-min-device-pixel-ratio: 2),
	all and (min-width: 375px) and (min-height: 667px) and (min--moz-device-pixel-ratio: 2),
	all and (min-width: 375px) and (min-height: 667px) and (min-device-pixel-ratio: 2) {
	body#bgimg .content-outer {
		background-image: url("../img/bg/Default-667h.png");
	}
}

@media 
	all and (min-width: 414px) and (min-height: 736px) and (-webkit-min-device-pixel-ratio: 3),
	all and (min-width: 414px) and (min-height: 736px) and (min--moz-device-pixel-ratio: 3),
	all and (min-width: 414px) and (min-height: 736px) and (min-device-pixel-ratio: 3) {
	body#bgimg .content-outer {
		background-image: url("../img/bg/Default-736h.png");
	}
}

@media all and (min-width: 480px) and (min-height: 280px) {
	body#bgimg .content-outer {
		background-image: url("../img/bg/splash-land-mdpi.png");
	}
}

@media all and (min-width: 480px) and (min-height: 760px) {
	body#bgimg .content-outer {
		background-image: url("../img/bg/splash-port-hdpi.png");
	}
}

@media 
	all and (min-width: 640px) and (min-height: 320px) and (-webkit-min-device-pixel-ratio: 2),
	all and (min-width: 640px) and (min-height: 320px) and (min--moz-device-pixel-ratio: 2),
	all and (min-width: 640px) and (min-height: 320px) and (min-device-pixel-ratio: 2) {
	body#bgimg .content-outer {
		background-image: url("../img/bg/splash-land-xhdpi.png");
	}
}

@media 
	all and (min-width: 736px) and (min-height: 414px) and (-webkit-min-device-pixel-ratio: 3),
	all and (min-width: 736px) and (min-height: 414px) and (min--moz-device-pixel-ratio: 3),
	all and (min-width: 736px) and (min-height: 414px) and (min-device-pixel-ratio: 3) {
	body#bgimg .content-outer {
		background-image: url("../img/bg/Default-Landscape-736h.png");
	}
}

@media all and (min-width: 768px) and (min-height: 1024px) {
	body#bgimg .content-outer {
		background-image: url("../img/bg/Default-Portrait~ipad.png");
	}
}

@media 
	all and (min-width: 768px) and (min-height: 1024px) and (-webkit-min-device-pixel-ratio: 2),
	all and (min-width: 768px) and (min-height: 1024px) and (min--moz-device-pixel-ratio: 2),
	all and (min-width: 768px) and (min-height: 1024px) and (min-device-pixel-ratio: 2) {
	body#bgimg .content-outer {
		background-image: url("../img/bg/Default-Portrait@2x~ipad.png");
	}
}

@media all and (min-width: 800px) and (min-height: 440px) {
	body#bgimg .content-outer {
		background-image: url("../img/bg/splash-land-hdpi.png");
	}
}

@media all and (min-width: 1024px) and (min-height: 768px) {
	body#bgimg .content-outer {
		background-image: url("../img/bg/Default-Landscape~ipad.png");
	}
}

@media 
	all and (min-width: 1024px) and (min-height: 768px) and (-webkit-min-device-pixel-ratio: 2),
	all and (min-width: 1024px) and (min-height: 768px) and (min--moz-device-pixel-ratio: 2),
	all and (min-width: 1024px) and (min-height: 768px) and (min-device-pixel-ratio: 2) {
	body#bgimg .content-outer {
		background-image: url("../img/bg/Default-Landscape@2x~ipad.png");
	}
}

body#bgimg .content-outer {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}